<h1>Name: <%=@user.name%></h1>
<h1>Alias: <%=@user.alias%></h1>
<h1>Email: <%=@user.email%></h1>
<div class="w3-border-top">
	<h2>Total Number of Posts: <%=@posts.count%></h2>
	<h2>Total Number of Likes: <%=@likes.count%></h2>
</div>
